## K-means應用：信用卡客戶分群

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import calinski_harabasz_score

df = pd.read_csv('customer.csv')
dict1 = {'男':1, '女':2}
df['性別'].replace(dict1, inplace=True)
df

     性別  年齡  收入(千)  消費指數(1-100)
0     1  34     78            1
1     1  20     61           49
2     1  29     28           82
3     2  31     81           93
4     1  48     60           49
..   ..  ..    ...          ...
195   2  33     86           95
196   1  35     28           61
197   2  68     48           48
198   1  38     71           75
199   1  32     75           93

[200 rows x 4 columns]

In [ ]:
km = KMeans(n_clusters=3)
km.fit(df)
km.labels_

array([1, 2, 2, 0, 2, 2, 2, 1, 2, 0, 0, 2, 2, 2, 1, 2, 2, 2, 1, 2, 1, 0,
       1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 0, 0, 2, 2, 1, 2, 0, 2,
       2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 0, 2, 1, 2, 2, 2, 0, 0,
       2, 0, 2, 1, 1, 0, 2, 2, 2, 2, 0, 1, 2, 2, 1, 2, 2, 1, 1, 0, 2, 2,
       2, 2, 2, 2, 0, 0, 2, 2, 1, 0, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2,
       2, 0, 0, 0, 2, 2, 2, 0, 0, 2, 1, 0, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2,
       2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 0, 1, 1, 2, 2, 2, 2, 1, 2, 1, 0, 0,
       2, 2, 0, 2, 1, 2, 0, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 1, 0, 2, 1, 1, 2, 0, 1, 2, 0, 2, 2,
       0, 0], dtype=int32)

In [ ]:
df['類別'] = km.labels_
df.head()

   性別  年齡  收入(千)  消費指數(1-100)  類別
0   1  34     78            1   1
1   1  20     61           49   2
2   1  29     28           82   2
3   2  31     81           93   0
4   1  48     60           49   2

In [ ]:
df2 = df[df['類別']==0]
df3 = df2.iloc[0:30, :]
df3

     性別  年齡  收入(千)  消費指數(1-100)  類別
3     2  31     81           93   0
9     2  32    103           69   0
10    2  29     98           88   0
21    1  32    126           74   0
36    1  28     77           97   0
37    1  32     73           73   0
42    1  39     78           88   0
45    1  30    137           83   0
51    1  28     87           75   0
58    1  40     71           95   0
64    2  31     70           77   0
65    2  30     78           73   0
67    2  31     72           71   0
71    1  30     99           97   0
76    2  27     78           89   0
85    1  39     71           75   0
92    2  36     85           75   0
93    1  28    101           68   0
97    2  29     73           88   0
111   1  34     78           90   0
112   2  35    120           79   0
113   1  39     69           91   0
117   1  35     93           90   0
118   2  38     78           76   0
121   2  32     77           74   0
128   2  35     74           72   0
142   1  32     87           63   0
152   2  30     78           78   0
153   2  32     97           86   0
156   2  38    113           91   0

In [ ]:
df2 = df[df['類別']==1]
df3 = df2.iloc[0:30, :]
df3

     性別  年齡  收入(千)  消費指數(1-100)  類別
0     1  34     78            1   1
7     1  43     78           17   1
14    2  47     78           16   1
18    1  42     86           20   1
20    2  45    126           28   1
22    2  47    120           16   1
24    2  34    103           23   1
32    1  19     74           10   1
33    1  20     73            5   1
34    1  37     78            1   1
40    2  23     70           29   1
57    1  59     71           11   1
60    1  25     77           12   1
69    1  33    113            8   1
70    2  36     87           27   1
77    2  44     78           20   1
80    2  56     79           35   1
83    1  46     98           15   1
84    1  36     87           10   1
96    2  25     72           34   1
98    2  41    103           17   1
105   1  58     88           15   1
120   1  32    137           18   1
127   1  47     71            9   1
136   1  40     87           13   1
139   2  54    101           24   1
143   2  28     76           40   1
144   2  57     75            5   1
149   2  37     97           32   1
151   2  41     99           39   1

In [ ]:
df2 = df[df['類別']==2]
df3 = df2.iloc[0:30, :]
df3

    性別  年齡  收入(千)  消費指數(1-100)  類別
1    1  20     61           49   2
2    1  29     28           82   2
4    1  48     60           49   2
5    2  42     34           17   2
6    1  26     54           54   2
8    1  48     39           36   2
11   2  21     33           81   2
12   1  59     54           47   2
13   2  23     62           41   2
15   1  68     63           43   2
16   1  57     54           51   2
17   2  58     20           15   2
19   2  51     67           43   2
23   1  49     62           56   2
25   2  20     16            6   2
26   1  53     46           46   2
27   2  21     30           73   2
28   1  26     62           55   2
29   1  19     15           39   2
30   1  31     25           73   2
31   2  23     54           52   2
35   1  18     59           41   2
38   2  27     40           47   2
39   2  27     46           51   2
41   1  40     54           48   2
43   2  60     50           49   2
44   1  24     60           52   2
46   2  36     37           26   2
47   2  50     43           45   2
48   2  49     65           59   2

In [ ]:
for n in range(2,15): 
  km = KMeans(n_clusters=n)
  km.fit(df)
  metric = calinski_harabasz_score(df, km.labels_) 
  print('群組數量：{}，評分：{}'.format(n, metric))

群組數量：2，評分：89.22993794799956
群組數量：3，評分：113.75369164959781
群組數量：4，評分：128.00411558215293
群組數量：5，評分：151.0230825445021
群組數量：6，評分：166.65094265754053
群組數量：7，評分：161.92934525368761
群組數量：8，評分：163.48821945396105
群組數量：9，評分：156.4899313941271
群組數量：10，評分：154.57746679789577
群組數量：11，評分：150.16177142332705
群組數量：12，評分：147.13569835673192
群組數量：13，評分：140.98611696860985
群組數量：14，評分：140.82479218893056

## DBSCAN應用：信用卡客戶分群

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('customer.csv')
dict1 = {'男':1, '女':2}
df['性別'].replace(dict1, inplace=True)
df

     性別  年齡  收入(千)  消費指數(1-100)
0     1  34     78            1
1     1  20     61           49
2     1  29     28           82
3     2  31     81           93
4     1  48     60           49
..   ..  ..    ...          ...
195   2  33     86           95
196   1  35     28           61
197   2  68     48           48
198   1  38     71           75
199   1  32     75           93

[200 rows x 4 columns]

In [ ]:
scaler = StandardScaler()
scaler.fit(df)
dfScaled = scaler.transform(df)
dbscan = DBSCAN(eps=0.82, min_samples=5)
dbs = dbscan.fit(dfScaled)
dbs.labels_

array([ 0,  1,  2,  3,  0,  3,  1,  0,  0,  3,  3,  3,  0,  3,  4,  0,  0,
        3,  0,  3, -1, -1,  4,  0,  4, -1,  0,  3,  1, -1,  2,  3,  0,  0,
        0,  1,  1,  1,  3,  3,  3,  0,  1,  3,  1, -1,  3,  3,  3,  0,  3,
        1,  3,  3, -1,  3,  0, -1,  1,  3,  0, -1,  3,  3,  3,  3,  3,  3,
       -1, -1,  4,  1,  1,  3,  3,  2,  3,  4,  1,  3,  3,  0,  3,  0,  0,
        1,  3,  3,  0,  3,  3,  3,  3,  1,  3,  3,  3,  3,  4,  3,  0,  2,
        3, -1,  3,  0,  3,  2,  1,  0,  3,  1,  3,  1,  0,  0,  3,  1,  3,
        3, -1,  3,  3,  0,  3,  3,  3,  0,  3,  2,  2,  0,  3,  3,  0,  3,
        0, -1,  1,  4,  3,  3,  1,  3,  4,  2,  3, -1,  3,  4,  0,  4,  3,
        3,  3,  3,  3,  3,  0,  3,  3,  3,  0,  3, -1,  0,  3,  1,  0,  3,
        3,  3,  3,  3,  0,  3,  3,  1,  0,  3,  0, -1, -1,  4,  3,  3, -1,
        1,  3,  0,  4,  3,  3,  4,  3,  3,  2,  3,  1,  1])

In [ ]:
df['類別'] = dbs.labels_
df.head()

   性別  年齡  收入(千)  消費指數(1-100)  類別
0   1  34     78            1   0
1   1  20     61           49   1
2   1  29     28           82   2
3   2  31     81           93   3
4   1  48     60           49   0

In [ ]:
df2 = df[df['類別']==0]
df3 = df2.iloc[0:30, :]
df3

     性別  年齡  收入(千)  消費指數(1-100)  類別
0     1  34     78            1   0
4     1  48     60           49   0
7     1  43     78           17   0
8     1  48     39           36   0
12    1  59     54           47   0
15    1  68     63           43   0
16    1  57     54           51   0
18    1  42     86           20   0
23    1  49     62           56   0
26    1  53     46           46   0
32    1  19     74           10   0
33    1  20     73            5   0
34    1  37     78            1   0
41    1  40     54           48   0
49    1  63     48           51   0
56    1  54     63           46   0
60    1  25     77           12   0
81    1  38     54           55   0
83    1  46     98           15   0
84    1  36     87           10   0
88    1  66     63           48   0
100   1  59     43           60   0
105   1  58     88           15   0
109   1  65     63           52   0
114   1  70     49           55   0
115   1  48     54           46   0
123   1  48     61           42   0
127   1  47     71            9   0
131   1  67     54           41   0
134   1  70     46           56   0

In [ ]:
df2 = df[df['類別']==1]
df3 = df2.iloc[0:30, :]
df3

     性別  年齡  收入(千)  消費指數(1-100)  類別
1     1  20     61           49   1
6     1  26     54           54   1
28    1  26     62           55   1
35    1  18     59           41   1
36    1  28     77           97   1
37    1  32     73           73   1
42    1  39     78           88   1
44    1  24     60           52   1
51    1  28     87           75   1
58    1  40     71           95   1
71    1  30     99           97   1
72    1  18     48           59   1
78    1  19     46           55   1
85    1  39     71           75   1
93    1  28    101           68   1
108   1  19     48           59   1
111   1  34     78           90   1
113   1  39     69           91   1
117   1  35     93           90   1
138   1  19     64           46   1
142   1  32     87           63   1
167   1  27     67           56   1
177   1  27     88           69   1
187   1  36     87           92   1
198   1  38     71           75   1
199   1  32     75           93   1

In [ ]:
df2 = df[df['類別']==-1]
df3 = df2.iloc[0:30, :]
df3

     性別  年齡  收入(千)  消費指數(1-100)  類別
20    2  45    126           28  -1
21    1  32    126           74  -1
25    2  20     16            6  -1
29    1  19     15           39  -1
45    1  30    137           83  -1
54    1  64     19            3  -1
57    1  59     71           11  -1
61    2  35     19           99  -1
68    1  67     19           14  -1
69    1  33    113            8  -1
103   1  37     20           13  -1
120   1  32    137           18  -1
137   2  35     18            6  -1
147   2  35     23           98  -1
164   1  53     33            4  -1
181   1  35     24           35  -1
182   1  60     30            4  -1
186   1  59     93           14  -1

## PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=0.95)
data = pca.fit_transform([[2,8,4,5,9,3], [6,3,0,8,7,1], 
                          [5,4,9,1,8,2]])
print(data)

[[-0.27506139  4.0732061 ]
 [ 5.92362693 -1.89137796]
 [-5.64856554 -2.18182813]]

In [ ]:
import pandas as pd
prior = pd.read_csv('order_products__prior.csv')
products = pd.read_csv('products.csv')
orders = pd.read_csv('orders.csv')
aisles = pd.read_csv('aisles.csv')
t1 = pd.merge(prior, products, on=['product_id', 
                                   'product_id'])
t1 = pd.merge(t1, orders, on=['order_id', 'order_id'])
mt = pd.merge(t1, aisles, on=['aisle_id', 'aisle_id'])
print(mt.shape)
mt

(32434489, 14)

          order_id  ...                       aisle
0                2  ...                        eggs
1               26  ...                        eggs
2              120  ...                        eggs
3              327  ...                        eggs
4              390  ...                        eggs
...            ...  ...                         ...
32434484   3243156  ...  specialty wines champagnes
32434485    860862  ...  specialty wines champagnes
32434486   1333472  ...  specialty wines champagnes
32434487   2122701  ...  specialty wines champagnes
32434488   3168475  ...  specialty wines champagnes

[32434489 rows x 14 columns]

In [ ]:
cross = pd.crosstab(mt['user_id'], mt['aisle'])
print(cross.shape)
cross

(206209, 134)

aisle    air fresheners candles  asian foods  ...  white wines  yogurt
user_id                                       ...
1                             0            0  ...            0       1
2                             0            3  ...            0      42
3                             0            0  ...            0       0
4                             0            0  ...            0       0
5                             0            2  ...            0       3
...                         ...          ...  ...          ...     ...
206205                        0            0  ...            0       5
206206                        0            4  ...            0       0
206207                        0            0  ...            0      15
206208                        0            3  ...            0      33
206209                        0            1  ...            0       3

[206209 rows x 134 columns]

In [ ]:
pca = PCA(n_components=0.95)
# pca = PCA(n_components=0.9)
data = pca.fit_transform(cross)
print(data.shape)

(206209, 44)